<section class="section-7" id="statistic">
  <div class="container">
    <div class="theme-title-cvr text-center mb-5">
      <p class="light-text">some facts</p>
      <h2>Use Cases</h2>
    </div>
    <div class="back-squre-images">
      <img src="../../../assets/images/bg_cubes.png" alt="">
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row cases-cover">
          <div class="cases-image">
            <img src="../../../assets/images/Icon%20(1).png" alt="">
          </div>
          <div class="cases-content">
            <h2>Cryptoland App</h2>
            <P>
              Sturgeon tenpounder--píntano tiger shark harelip sucker--shiner Atlantic trout
              lanternfish New Zealand smelt sprat blackchin deep sea smelt</P>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row cases-cover">
          <div class="cases-image">
            <img src="../../../assets/images/c1.png" alt="">
          </div>
          <div class="cases-content">
            <h2>Mining Service</h2>
            <P>
              Sturgeon tenpounder--píntano tiger shark harelip sucker--shiner Atlantic trout
              lanternfish New Zealand smelt sprat blackchin deep sea smelt</P>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row cases-cover">
          <div class="cases-image">
            <img src="../../../assets/images/c2.png" alt="">
          </div>
          <div class="cases-content">
            <h2>Blockchain</h2>
            <P>
              Sturgeon tenpounder--píntano tiger shark harelip sucker--shiner Atlantic trout
              lanternfish New Zealand smelt sprat blackchin deep sea smelt</P>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row cases-cover">
          <div class="cases-image">
            <img src="../../../assets/images/c3.png" alt="">
          </div>
          <div class="cases-content">
            <h2>Exchange</h2>
            <P>
              Sturgeon tenpounder--píntano tiger shark harelip sucker--shiner Atlantic trout
              lanternfish New Zealand smelt sprat blackchin deep sea smelt</P>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row cases-cover">
          <div class="cases-image">
            <img src="../../../assets/images/c4.png" alt="">
          </div>
          <div class="cases-content">
            <h2>Cryptoland ICO</h2>
            <P>
              Sturgeon tenpounder--píntano tiger shark harelip sucker--shiner Atlantic trout
              lanternfish New Zealand smelt sprat blackchin deep sea smelt</P>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row cases-cover">
          <div class="cases-image">
            <img src="../../../assets/images/c5.png" alt="">
          </div>
          <div class="cases-content">
            <h2>Equipment for mining</h2>
            <P>
              Sturgeon tenpounder--píntano tiger shark harelip sucker--shiner Atlantic trout
              lanternfish New Zealand smelt sprat blackchin deep sea smelt</P>
          </div>
        </div>
      </div>
    </div>

    <div class="cases-button text-center">
      <a href="#" class="bttn-tan hover-btn" type="button">JOIN ICO</a>
    </div>
  </div>
</section>
