<!--<section class="section-6">-->
<!--  <div class="back-image">-->
<!--    <img src="../../../assets/images/2.png" alt="">-->
<!--  </div>-->
<!--  <div class="container">-->
<!--    <div class="brand-cover">-->
<!--      <div class="no-of-brands">-->
<!--        <img src="../../../assets/images/Logo1.png" alt="">-->
<!--        <span>ESCROW</span>-->
<!--      </div>-->
<!--      <div class="no-of-brands">-->
<!--        <img src="../../../assets/images/logo2.png" alt="">-->
<!--        <span>RISK : LOW</span>-->
<!--      </div>-->
<!--      <div class="no-of-brands">-->
<!--        <img src="../../../assets/images/logo3.png" alt="">-->
<!--        <span>-->
<!--                        <fa-icon class="start-icon" [icon]="['fas' , 'star']"></fa-icon>-->
<!--                        <fa-icon class="start-icon" [icon]="['fas' , 'star']"></fa-icon>-->
<!--                        <fa-icon class="start-icon" [icon]="['fas' , 'star']"></fa-icon>-->
<!--                        <fa-icon class="start-icon" [icon]="['fas' , 'star']"></fa-icon>-->
<!--                        <fa-icon [icon]="['fas' , 'star']"></fa-icon>-->
<!--                    </span>-->
<!--      </div>-->
<!--      <div class="no-of-brands">-->
<!--        <img src="../../../assets/images/logo4.png" alt="">-->
<!--        <span>RISK : LOW</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
