<!--<section class="section-9">-->
<!--  <div class="container pl-sm-2">-->
<!--    <div class="theme-title-cvr">-->
<!--      <p class="light-text">About ICO</p>-->
<!--      <h2>Partners</h2>-->
<!--    </div>-->
<!--    <div class="brand-cover">-->
<!--      <div class="no-of-brands">-->
<!--        <img src="../../../assets/images/Logo_22.png" alt="">-->
<!--      </div>-->
<!--      <div class="no-of-brands">-->
<!--        <img src="../../../assets/images/Logo1.png" alt="">-->
<!--      </div>-->
<!--      <div class="no-of-brands">-->
<!--        <img src="assets/images/Logo2.png" alt="">-->
<!--      </div>-->
<!--      <div class="no-of-brands">-->
<!--        <img src="assets/images/Logo3.png" alt="">-->
<!--      </div>-->
<!--      <div class="no-of-brands">-->
<!--        <img src="assets/images/Logo4.png" alt="">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
