<!--<section class="latest-news">-->
<!--  <div class="container">-->
<!--      <div class="theme-title-cvr text-center mb-5">-->
<!--          <p class="light-text">IN THE WORLD</p>-->
<!--          <h2>Latest News</h2>-->
<!--      </div>-->
<!--      <div class="news-cover">-->
<!--          <div class="row news-sldr">-->

<!--              <div class="col-lg-12">-->
<!--                <owl-carousel-o [options]="customOptions">-->
<!--                  <ng-template carouselSlide>-->
<!--                    <div class="news-contents-cover">-->
<!--                      <strong>Cryptocurrency</strong>-->
<!--                      <h2>New trends in UI/UX<br> Design world integration</h2>-->
<!--                      <p>-->
<!--                          Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and-->
<!--                          Antonis Lapos will conduct a number of personal meetings-->
<!--                      </p>-->
<!--                      <span>Suptember, 15 2017</span>-->
<!--                  </div>  -->
<!--                  </ng-template>  -->
<!--                  <ng-template carouselSlide>-->
<!--                    <div class="news-contents-cover">-->
<!--                    <strong>Cryptocurrency</strong>-->
<!--                    <h2>The Crypto project has<br> reached seven billinos</h2>-->
<!--                    <p>-->
<!--                        Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and-->
<!--                        Antonis Lapos will conduct a number of personal meetings-->
<!--                    </p>-->
<!--                    <span>Suptember, 15 2017</span>-->
<!--                </div>-->
<!--              </ng-template>  -->
<!--              -->
<!--              <ng-template carouselSlide>-->
<!--                <div class="news-contents-cover">-->
<!--                  <strong>Cryptocurrency</strong>-->
<!--                  <h2>State the redemption<br> before the ICO Completion</h2>-->
<!--                  <p>-->
<!--                      Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and-->
<!--                      Antonis Lapos will conduct a number of personal meetings-->
<!--                  </p>-->
<!--                  <span>Suptember, 15 2017</span>-->
<!--              </div>-->
<!--              </ng-template>  -->

<!--              <ng-template carouselSlide>-->
<!--                <div class="news-contents-cover">-->
<!--                  <strong>Bitcoin</strong>-->
<!--                  <h2 class="">The Crypto projects has reached sevenbillions</h2>-->
<!--                  <p>-->
<!--                      The meetings will takeplace in the following cities: 15 january - Milan, 16 January - -->
<!--                      Lugano, 17 January - Zurich, 18 January Monoco you-re an investor or just-->
<!--                  </p>-->
<!--                  <span>Suptember, 15 2017</span>-->
<!--              </div>-->
<!--              </ng-template>-->

<!--              <ng-template carouselSlide>-->
<!--                <div class="news-contents-cover">-->
<!--                  <strong>Blockchain</strong>-->
<!--                  <h2>Start the redemption<br> before the CIO completion </h2>-->
<!--                  <p>-->
<!--                      Crypto project buys 10% of the total anume of LHC tokens sould at a double rate. Thus-->
<!--                      even now, project investors can receice an income of 100% That it will be done before-->
<!--                      the-->
<!--                  </p>-->
<!--                  <span>Suptember, 15 2017</span>-->
<!--              </div>-->
<!--              </ng-template>-->
<!--                </owl-carousel-o>-->

<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
<!--  </div>-->
<!--</section>-->
