
<section class="smart-content">
  <div class="text-center theme-title-cvr">
<!--    <p class="light-text">SOME FACTS</p>-->
<!--    <h2>Smart Contract API</h2>-->
  </div>
  <div class="smrt-back-image">
    <img src="../../../assets/images/2.png" alt="">
  </div>
<!--  <div class="container">-->

<!--    <div class="row">-->
<!--      <div class="w-20">-->
<!--        <div class="smart-contact-cover">-->
<!--&lt;!&ndash;          <div class="imgrounded">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <img src="../../../assets/images/b1.png" alt="">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>Bitcoin + RSK</span>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="w-20">-->
<!--        <div class="smart-contact-cover">-->
<!--&lt;!&ndash;          <div class="imgrounded">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="../../../assets/images/b2.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>Stellar Lumens</span>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="w-20">-->
<!--        <div class="smart-contact-cover">-->
<!--&lt;!&ndash;          <div class="imgrounded">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="../../../assets/images/b3.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>Counterparty</span>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="w-20">-->
<!--        <div class="smart-contact-cover">-->
<!--&lt;!&ndash;          <div class="imgrounded">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="../../../assets/images/b4.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>Lisk</span>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="w-20">-->
<!--        <div class="smart-contact-cover">-->
<!--&lt;!&ndash;          <div class="imgrounded">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="../../../assets/images/b5.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>EOS</span>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</section>
