<section class="get-in-touch">
  <div class="container">
    <div class="theme-title-cvr text-center mb-5">
      <p class="light-text">CONTACT US</p>
      <h2>Get in Touch</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="forme-formet">
          <form>
            <input type="text" name="Name" placeholder="name">
            <input type="text" name="Email" placeholder="Email">
            <textarea name="Messege" cols="30" rows="10" placeholder="Messege"></textarea>
          </form>
          <button type="submit" class="forme-botton hover-btn"
                  style="display: block; border: none; width: 100%;">
            <span class="bttn-tan">SEND MESSEGE</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
