<section class="our-data">
  <div class="container">
    <div class="token-line">
      <img src="assets/images/Token-Distribution.png" alt="">
    </div>
    <div class="theme-title-cvr text-center mb-5">
      <p class="light-text">our data</p>
      <h2>Token Distribution</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="img-cover">
          <img src="assets/images/Chart (1).png" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="data-dtl">
          <h3>Allocation of funds</h3>
          <p class="light-text">Total token supply - 152,358</p>
          <ul>
            <li>
              <span style="width: 9%;"></span>
              <span>9% Founders and Team</span>
            </li>
            <li>
              <span style="width: 13%;"></span>
              <span>13% Reserved Funding</span>
            </li>
            <li>
              <span style="width: 2%;"></span>
              <span>2% Advisors</span>
            </li>
            <li>
              <span style="width: 25%;"></span>
              <span>25% Distribute to Community</span>
            </li>
            <li>
              <span style="width: 1%;"></span>
              <span>1% Bounty campaign</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
