<html>
<head>
    <title>Cryptoland</title>
</head>
<body>

<app-header></app-header>
  <app-main></app-main>
<app-roadmap></app-roadmap>
<app-partners></app-partners>
<app-statistic></app-statistic>
<app-earth-light></app-earth-light>
<app-smart-contect></app-smart-contect>
<app-tokens></app-tokens>
<app-papers></app-papers>
<app-our-data></app-our-data>
<app-faques></app-faques>
<app-latest-news></app-latest-news>
<app-comment2></app-comment2>
<app-about-ico></app-about-ico>
<app-getting-touch></app-getting-touch>


<app-footer></app-footer>
<script>
  $('.faq-cont:not(.active)').hide();
  $('.faq-title').click(function () {
    if (!$(this).hasClass('active')) {
      $('.faq-title').removeClass('active');
      $(this).addClass('active');
      $('.faq-cont').hide('fast');
      $(this).next('.faq-cont').show('fast');
    } else {
      $(this).removeClass('active');
      $(this).next('.faq-cont').hide('fast');
    }
  });
</script>
</body>
</html>
