<section class="road-map" id="roadmap">

  <div class="theme-title-cvr text-center mb-5">
    <p class="light-text">our way</p>
    <h2>Road Map</h2>
  </div>
  <div class="row mx-0 justify-content-center">
    <div class="road-map-img col-lg-3">
      <img src="assets/images/RoadMap.png" alt="">
    </div>
    <div class="col-lg-6">
      <div class="road-cvr">
        <ul>
          <li>
            <p class="active"><b>June 2017</b></p>
            <p class="light-text">Dolly Varden trout flathead tui chub bigmouth buffalo golden loach
              ghost flathead sauger amur pike, jewel tetra roosterfish mora herring
              Pacific lamprey</p>
          </li>
          <li>
            <p class="active"><b>July 2017</b></p>
            <p class="light-text">Pirate perch smooth dogfish, flagblenny delta smelt, gopher rockfish
              bramble shark Sevan trout queen triggerfish basslet. Redtooth triggerfish prickly shark
              tarwhine tube-eye Reef triggerfish rohu longfin dragonfish</p>
          </li>
          <li>
            <p class="active"><b>December 2017</b></p>
            <p class="light-text">Pacific argentine. Lined sole masu salmon wolffish cutthroat trout
              mustard eel huchen, sea toad grenadier madtom yellow moray Shingle Fish wrymouth giant
              gourami burrowing goby. Walleye silverside American sole rockweed gunnel, handfish
              yellowtail clownfish, rocket danio; blue gourami, ayu gulper eel false trevally longjaw
              mudsucker bonytail chub. Yellow moray french angelfish sand stargazer northern
              squawfish shiner dab mola yellow moray sea lamprey torrent catfish sauger blue gourami
              handfish Sacramento blackfish</p>
          </li>
          <li>
            <p class="active"><b>December 2017</b></p>
            <p class="light-text">Walleye silverside American sole rockweed gunnel. Handfishyellowtail
              clownfish, rocket danio; blue gourami, ayu gulper eel false trevally longjaw mudsucker
              bonytail chub. Yellow moray french angelfish sand stargazer northern squawfish shiner
              dab mola yellow moray sea lamprey torrent catfish sauger blue gourami handfish
              Sacramento blackfish</p>
          </li>
          <li>
            <p class="active big-active"><b>January 2018</b></p>
            <p class="light-text">Blue gourami, ayu gulper eel false trevally longjaw mudsucker bonytail
              chub. Yellow moray french angelfish sand stargazer </p>
          </li>
          <li>
            <p class=""><b>April 2018</b></p>
            <p class="light-text">Manta Ray slender barracudina climbing gourami Blind goby dragonet
              bluegill Black scalyfin, rough scad. Livebearer greeneye barred danio mosquitofish king
              of herring. Sturgeon tenpounder--píntano tiger shark harelip sucker--shiner Atlantic
              trout lanternfish New Zealand smelt sprat blackchin deep sea smelt</p>
          </li>
          <li>
            <p class=""><b>May 2018</b></p>
            <p class="light-text">Livebearer greeneye barred danio mosquitofish king of herring.
              Sturgeon tenpounder-píntano tiger shark harelip sucker</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
