<section class="sec6" id="tokens">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../../assets/images/Cryptoland.png" alt="img">
      </div>
      <div class="col-lg-6">
        <div class="theme-title-cvr">
          <p class="light-text">About TOKEN</p>
          <h2>Tokan sale</h2>
        </div>
        <div class="sec6-list">
          <ul>
            <li>
              <P>Token name</P>
              <p class="light-text">cryptoland token</p>
            </li>
            <li>
              <P>Ticker Symbol</P>
              <p class="light-text">cryptoland </p>
            </li>
            <li>
              <P>Currency Symbol Image</P>
              <p class="light-text">Currency Symbol Image</p>
            </li>
            <li>
              <P>Starting Price Pre-ICO</P>
              <p class="light-text">Cryptoland for USD 0.08</p>
            </li>
            <li>
              <P>Starting Price ICO</P>
              <p class="light-text">Cryptoland for USD 0.12</p>
            </li>
            <li>
              <P>Maximum Eroiy produced</P>
              <p class="light-text">2 billion (technical limit)</p>
            </li>
            <li>
              <P>Maximum Eroiy for Sale</P>
              <p class="light-text">1.2 billion (60% of total coins)</p>
            </li>
            <li>
              <P>Fundraising Goal</P>
              <p class="light-text">USD 48 million</p>
            </li>
            <li>
              <P>Minimum Purchase</P>
              <p class="light-text">100 Cryptoland </p>
            </li>
          </ul>
        </div>
        <div class="sec7-list">
          <h2>General description</h2>
          <p class="light-text">Cryptoland will be released on the basis of Ethereum platform and fully
            comply with ERC20* standard. </p>
          <p class="light-text">Support of this standard guarantees the compatibility of the token with
            third-party services (wallets, exchanges, listings, etc.), and provides easy integration.
          </p>
        </div>
        <div class="thimas-bet">
          <a href="#" class="bttn-tan hover-btn" type="button">BUY TOKEN</a>
        </div>
      </div>
    </div>
  </div>
</section>
