<section class="advisors d-none">
  <div class="container">
    <div class="theme-title-cvr text-center mb-5">
      <p class="light-text">family</p>
      <h2>Advisors</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="adv-box">
          <div class="img-cover">
            <div class="img-back">
              <img src="../../../assets/images/Background.png" alt="">
            </div>
            <div class="img-social">
              <img src="../../../assets/images/Facebook.png" alt="">
            </div>
            <div class="theme-img">
              <img src="https://wallpaperaccess.com/full/1285952.jpg" alt="">
            </div>
          </div>
          <div class="adv-dtl">
            <h4>David Drake</h4>
            <p class="light-text" style="opacity: .6;">CEO Capital Limited</p>
            <p class="light-text">JavaScript virtual machines (VMs) and platforms built upon them have
              also increased the popularity of JavaScript for server-side web applications. On the
              client side, JavaScript has been traditionally implemented as an interpreted language,
              but more recent browsers perform just-in-time compilation.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="adv-box">
          <div class="img-cover">
            <div class="img-back">
              <img src="../../../assets/images/Background.png" alt="">
            </div>
            <div class="img-social">
              <img src="../../../assets/images/Facebook.png" alt="">
            </div>
            <div class="theme-img">
              <img src="https://wallpaperaccess.com/full/1285952.jpg" alt="">
            </div>
          </div>
          <div class="adv-dtl">
            <h4>Ann Balock</h4>
            <p class="light-text" style="opacity: .6;">Cryptonet Speaker</p>
            <p class="light-text">JavaScript virtual machines (VMs) and platforms built upon them have
              also increased the popularity of JavaScript for server-side web applications. On the
              client side, JavaScript has been traditionally implemented as an interpreted language,
              but more recent browsers perform just-in-time compilation.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="adv-box">
          <div class="img-cover">
            <div class="img-back">
              <img src="../../../assets/images/Background.png" alt="">
            </div>
            <div class="img-social">
              <img src="../../../assets/images/Facebook.png" alt="">
            </div>
            <div class="theme-img">
              <img src="https://wallpaperaccess.com/full/1285952.jpg" alt="">
            </div>
          </div>
          <div class="adv-dtl">
            <h4>Vladimir Nikitin</h4>
            <p class="light-text" style="opacity: .6;">Cryptonet Team Lead</p>
            <p class="light-text">JavaScript virtual machines (VMs) and platforms built upon them have
              also increased the popularity of JavaScript for server-side web applications. On the
              client side, JavaScript has been traditionally implemented as an interpreted language,
              but more recent browsers perform just-in-time compilation.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="adv-box">
          <div class="img-cover">
            <div class="img-back">
              <img src="../../../assets/images/Background.png" alt="">
            </div>
            <div class="img-social">
              <img src="../../../assets/images/Facebook.png" alt="">
            </div>
            <div class="theme-img">
              <img src="https://wallpaperaccess.com/full/1285952.jpg" alt="">
            </div>
          </div>
          <div class="adv-dtl">
            <h4>Sam Peters</h4>
            <p class="light-text" style="opacity: .6;">Team Lead Advisor</p>
            <p class="light-text">JavaScript virtual machines (VMs) and platforms built upon them have
              also increased the popularity of JavaScript for server-side web applications. On the
              client side, JavaScript has been traditionally implemented as an interpreted language,
              but more recent browsers perform just-in-time compilation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
