<section class="comment2">
  <div class="container">

    <div class="sec3-left">
      <div class="text-center theme-title-cvr">
        <p class="light-text">Press About Us</p>
        <h2>Press About Cryptoland</h2>
      </div>
    </div>
    <div class="text-center document">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="cont-1">
              <img src="../../../assets/images/a1.png" alt="img">
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="cont-1">
              <img src="../../../assets/images/a2.png" alt="img">
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="cont-1">
              <img src="../../../assets/images/a3.png" alt="img">
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="cont-1">
              <img src="../../../assets/images/a4.png" alt="img">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
